body {
    background-color: gray;
    height: 100%;
    margin: 80px;;
}
.container {
    border: 4px solid;
    background-color: rgb(255, 50, 50);
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 {
    padding: 10px;
}
.screen {
    border: 1px solid;
    height: 600px;
    width: 600px;
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: 20px;
    margin-top: 0;
}
.screen-column {
    display: flex;
    height: 100%;
}
p {
    font-weight: 900;
}
input {
    height: 50px;
    width: 50px;
    border-radius: 8px;
}
.tools {
    display: flex;
    margin-bottom: 50px;
    gap: 10px;
}
button {
    height: 50px;
    width: 100px;
    margin-left: 20px;
    border-radius: 8px;
}